.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* https://colorhunt.co/palette/6998 */

body {
    background-color: #f06868;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flip-card {
    background-color: transparent;
    margin: 0.66vw;
    font-size: 10vw;
    height: 15vw;
    width: 15vw;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.flip-card-front {
    background-color: #80d6ff;
}

.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80d6ff;
    transform: rotateY(180deg);
}

.hightlighted {
    box-shadow: 0 14px 28px rgba(240, 104, 104, 0.55), 0 10px 10px rgba(240, 104, 104, 0.52);
    transform: rotateY(180deg);
}

.pair {
    visibility: hidden;
}

.hidden {
    display: none;
}

.restart-button {
    position: absolute;
    top: 20vh;
    background-color: #80d6ff;
    padding: 5vw;
    font-size: 10vw;
    color: #f06868;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: 0 2px 0 #fab57a;
    box-shadow: 0 2px 0 #fab57a;
}

.pickpack {
    display: inline-block;
    font-size: 6vw;
    margin: 2vw;
    padding: 1vw;
    background-color: #80d6ff;
    width: 22vw;
    border-radius: 5px;
    cursor: pointer;
}

.pickpack-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width : 320px) and (max-width : 680px) {
    body {
        margin-top: 2vh
    }

    .flip-card {
        font-size: 15vw;
        height: 22vw;
        width: 22vw;
    }

    .pickpack-container {
        flex-wrap: wrap;
    }

    .pickpack {
        width: 80vw;
        font-size: 13vw;
    }
}
